<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="result.css">
    <script defer src="res.js"></script>
    <title>Results</title>
</head>
<body>
    <h1 class="header">Results</h1>
    <h2 class = "meals">Breakfast</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- bc1 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- bp1 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- bf1 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- bcal1 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range1" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- bc2 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- bp2 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- bf2 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- bcal2 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range2" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- bc3 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- bp3 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- bf3 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- bcal3 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range3" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = "meals">Lunch</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- lc1 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- lp1 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- lf1 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- lcal1 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range4" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- lc2 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- lp2 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- lf2 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- lcal2 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range5" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- lc3 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- lp3 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- lf3 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- lcal3 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range6" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = "meals">Dinner</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- dc1 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- dp1 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- df1 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- dcal1 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range7" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- dc2 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- dp2 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- df2 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- dcal2 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range8" min="100" max="1000" step="100" value="500">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<%- dc3 %></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<%- dp3 %></p>
                </div>
                <div class="circle">
                    <p>Fat<br><%- df3 %></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<%- dcal3 %></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number">500g</strong></p>
                <input type="range" id="activity-range9" min="100" max="1000" step="100" value="500">
            </div>
        </div>
    </div>
</body>
</html>