<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="result.css">
    <script defer src="res.js"></script>
    <title>Results</title>
</head>
<body>
    <h1 class="header">Results</h1>
    <div class = "instructions">
        <p>Hello <%- name %>! Please read the following instructions:</p>
        <p>1. Adjust the slider to change the your desired portion size of the food item.</p>
        <p>2. Please scroll to the bottom of the page to view your recommended calorie count for breakfast, lunch, and dinner, as well as the total calorie count for the day.</p>
    </div>
    <h2 class = "meals">Breakfast</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="bc1"><%- bc1 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="bp1"><%- bp1 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="bf1"><%- bf1 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="bcal1"><%- bcal1 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number1">100g</strong></p>
                <input type="range" id="activity-range1" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="bc2"><%- bc2 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="bp2"><%- bp2 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="bf2"><%- bf2 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="bcal2"><%- bcal2 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number2">100g</strong></p>
                <input type="range" id="activity-range2" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- breakfast3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="bc3"><%- bc3 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="bp3"><%- bp3 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="bf3"><%- bf3 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="bcal3"><%- bcal3%></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number3">100g</strong></p>
                <input type="range" id="activity-range3" min="0" max="250" step="50" value="100">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = "meals">Lunch</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="lc1"><%- lc1 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="lp1"><%- lp1 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="lf1"><%- lf1 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="lcal1"><%- lcal1 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number4">100g</strong></p>
                <input type="range" id="activity-range4" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="lc2"><%- lc2 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="lp2"><%- lp2 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="lf2"><%- lf2 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="lcal2"><%- lcal2 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number5">100g</strong></p>
                <input type="range" id="activity-range5" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- lunch3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="lc3"><%- lc3 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="lp3"><%- lp3 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="lf3"><%- lf3 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="lcal3"><%- lcal3 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number6">100g</strong></p>
                <input type="range" id="activity-range6" min="0" max="250" step="50" value="100">
            </div>
        </div>
    </div>
    <hr>
    <h2 class = "meals">Dinner</h2>
    <div class="third">
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner1 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="dc1"><%- dc1 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="dp1"><%- dp1 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="df1"><%- df1 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="dcal1"><%- dcal1 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number7">100g</strong></p>
                <input type="range" id="activity-range7" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner2 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="dc2"><%- dc2 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="dp2"><%- dp2 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="df2"><%- df2 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="dcal2"><%- dcal2 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number8">100g</strong></p>
                <input type="range" id="activity-range8" min="0" max="250" step="50" value="100">
            </div>
        </div>
        <div class = "box">
            <div class = "small-box">
                <h3 class="item-text"><%- dinner3 %></h3>
            </div>
            <div class ="calories">
                <div class="circle">
                    <p>Carbs<br>&nbsp;<span class="dc3"><%- dc3 %></span></p>
                </div>
                <div class="circle">
                    <p>Protein<br>&nbsp;&nbsp;&nbsp;<span class="dp3"><%- dp3 %></span></p>
                </div>
                <div class="circle">
                    <p>Fat<br><span class="df3"><%- df3 %></span></p>
                </div>
                <div class="circle">
                    <p>Calories<br>&nbsp;&nbsp;&nbsp;<span class="dcal3"><%- dcal3 %></span></p>
                </div>
            </div>
            <div class = "slider">
                <p><strong id="activity-number9">100g</strong></p>
                <input type="range" id="activity-range9" min="0" max="250" step="50" value="100">
            </div>
        </div>
    </div>
    <div class="conclusion">
        <p>Your total recommended calorie count is: <%- total_bmr %></p>
        <p>Your current calorie count:
        <strong><span class="current-calorie">000</span></strong></p>
        <p>Your chosen calorie count for breakfast:
        <strong><span class="current-breakfast">000<span></span></strong></p>
        <p>Your chosen calorie count for lunch:
        <strong><span class="current-lunch">000</span></strong></p>
        <p>Your chosen calorie count for dinner:
        <strong><span class="current-dinner">000</span></strong></p>
    </div>
    <div class="margin"></div>
</body>
</html>